.btn {
  width: 200px;
  height: 80px;
  border: none;
  border-radius: 5px;
  margin: 100px auto;
  display: block;
  overflow: hidden;
  line-height: 200px;
  text-align: center;
  position: relative;
  cursor: pointer;
  background-color: #0097a7;
  opacity: 1;
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* prevent tap highlight on mobile */
}

.btn--text {
  padding: 0;
  margin: 0;
  position: relative;
  /* If you want the text positioned above the ripple */
  /* z-index: 1; */
  color: #eee;
  font-family: Ariel;
  font-size: 26pt;
}

.btn:focus,
.btn:hover {
  opacity: .95;
  outline: none;
}

.btn:hover {
  box-shadow: none;
}

.btn--ripple {
  width: 1px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #bbb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  opacity: .5;
  will-change: transform, opacity;
}

.btn--ripple__fade {
  opacity: 0;
}

.btn--ripple__animate {
  transition: transform 0.7s cubic-bezier(.4,0,1,1), opacity 0.8s cubic-bezier(.4,0,1,1);
}